//  Theme 1
//  Backgrounds
$BlueMainBackground: hsl(222, 26%, 31%);
$BlueSecondBackground: hsl(223, 31%, 20%);
$BlueScreenBackground: hsl(224, 36%, 15%);

//  Keys
$GrayKeyBackground: hsl(30, 25%, 89%);
$GrayKeyShadow: hsl(28, 16%, 65%);
$BlueKeyBackground: hsl(225, 21%, 49%);
$BlueKeyShadow: hsl(224, 28%, 35%);
$RedKeyBackground: hsl(6, 63%, 50%);
$RedKeyShadow: hsl(6, 70%, 34%);

// Text
$BlueText: hsl(221, 14%, 31%);
$WhiteText: hsl(0, 0%, 100%);

//  Theme 2
//  Backgrounds
$GrayMainBackground: hsl(0, 0%, 90%);
$GraySecondBackground: hsl(0, 5%, 81%);
$GrayScreenBackground: hsl(0, 0%, 93%);

//  Keys
$DarkCyanKeyBackground: hsl(185, 42%, 37%);
$DarkCyanKeyShadow: hsl(185, 58%, 25%);
$OrangeKeyBackground: hsl(25, 98%, 40%);
$OrangeKeyShadow: hsl(25, 99%, 27%);
$GrayishKeyBackground: hsl(45, 7%, 89%);
$GrayishKeyShadow: hsl(35, 11%, 61%);

//  Text
$GrayText: hsl(60, 10%, 19%);

//  Theme 3
//  Backgrounds
$VioletMainBackground: hsl(268, 75%, 9%);
$VioletSecondBackground: hsl(268, 71%, 12%);

//  Keys
$VioletKeyBackground: hsl(285, 91%, 52%);
$VioletKeyShadow: hsl(281, 89%, 26%);
$CyanKeyBackground: hsl(176, 100%, 44%);
$CyanKeyShadow: hsl(177, 92%, 70%);
$DarkVioletKeyBackground: hsl(268, 47%, 21%);
$DarkVioleteyKeyShadow: hsl(290, 70%, 36%);

//  Text
$YellowText: hsl(52, 100%, 62%);
$DarkBlueText: hsl(198, 20%, 13%);
